* {
  box-sizing: border-box;
}

html, body {
  font-family: system-ui, sans-serif;
  margin: 0;
}

button, input, textbox {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
}


